@use './base';
@use './particles';

:root {
  --rounded-sm: .4em;
  --rounded-xl: 1.3em;

  --co-gray-900: hsl(220, 5%, 15%);
  --co-gray-700: hsl(220, 4%, 30%);
  --co-gray-500: hsl(220, 3%, 50%);
  --co-gray-300: hsl(220, 5%, 75%);
  --co-gray-100: hsl(220, 10%, 95%);

  --co-accent: hsl(200, 80%, 50%);
  --co-accent-light: hsl(200, 80%, 70%);
  --co-accent-dark: hsl(200, 80%, 30%);

  --co-overlay-light: hsl(0, 0%, 0%, .4);
  --co-overlay-dark: hsl(0, 50%, 100%, .3);

  --p-m: .6rem;
  --p-l: .8rem;
  --p-xl: 1rem;
}

:root[data-scheme="light"] {
  --co-primary-10: var(--co-gray-100);
  --co-primary-20: var(--co-gray-300); 
  --co-primary-30: var(--co-gray-100);
  --co-text-10: var(--co-gray-900);
  --co-text-20: var(--co-gray-700);
  --co-border: var(--co-gray-500);
  --co-highlight: var(--co-accent);
  --co-highlight-light: var(--co-accent-light);
  --co-overlay: var(--co-overlay-light);
}

:root[data-scheme="dark"] {
  --co-primary-10: var(--co-gray-900);
  --co-primary-20: var(--co-gray-700);
  --co-primary-30: var(--co-gray-700);
  --co-text-10: var(--co-gray-100);
  --co-text-20: var(--co-gray-300);
  --co-border: var(--co-gray-500);
  --co-highlight: var(--co-accent);
  --co-highlight-light: var(--co-accent-light);
  --co-overlay: var(--co-overlay-dark);
}

$index-10: 10;
$index-20: 20;
$index-30: 30;