:root {
  --rounded-sm: .4em;
  --rounded-xl: 1.3em;

  --co-black: hsl(0, 0%, 3%);
  --co-black-10: hsl(0, 0%, 16%);
  --co-black-20: hsl(0, 0%, 25%);
  --co-white: hsl(0, 0%, 90%);
  --co-white-10: hsl(0, 0%, 85%);
  --co-white-20: hsl(0, 0%, 76%);
  --co-white-30: hsl(0, 0%, 60%);
  --co-ligth-blue: hsl(199, 82%, 80%);

  --p-m: .6rem;
  --p-l: .8rem;
  --p-xl: 1rem;
}

:root[data-scheme="light"] {
  --co-primary-10: var(--co-black); 
  --co-primary-20: var(--co-black-20);
  --co-secondary-10: var(--co-white);
  --co-secondary-20: var(--co-white-10);
  --co-secondary-30: var(--co-white-20);
  --co-terciary-40: var(--co-ligth-blue);
}

:root[data-scheme="dark"] {
  --co-primary-10: var(--co-white); 
  --co-primary-20: var(--co-white-20);
  --co-secondary-10: var(--co-black);
  --co-secondary-20: var(--co-black-10);
  --co-secondary-30: var(--co-black-20);
  --co-terciary-40: var(--co-secondary-20);
}