.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @media (hover: hover) {
    &:hover .poster__imgContainer {
      transform: scale(1.1);
    }
  }

  &__title {
    text-align: center;
  }

  &__imgContainer {
    position: relative;
    margin-bottom: 0.8rem;
    transition: 200ms transform;
  }

  &__shadow {
    width: 110%;
    height: 4em;
    position: absolute;
    left: -1px;
    bottom: -1px;
    background: linear-gradient(
      to top,
      var(--co-primary-10) 0%,
      var(--co-primary-10) 20%,
      transparent 100%
    );
  }

  &__img {
    width: 10rem;
    aspect-ratio: 2/3;
    border-radius: var(--rounded-sm);
  }
}
