.result {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: .4rem 2rem;
  transition: 200ms background-color;
  &:hover {
    background-color: var(--co-secondary-30);
    cursor: pointer;
  }
  &__img {
    width: 2rem;
    aspect-ratio: 2/3;
  }
}