@use '../config/config' as c;
.searchBar {
  position: relative;

  &.resultsDisplayed {
    border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
    background-color: var(--co-secondary-20);
  }
  &__input {
    width: 100%;
    height: calc(var(--rounded-xl) * 2);
    padding: 0 4em;
    position: relative;
    z-index: c.$index-20;
    border-radius: var(--rounded-xl);

    &.resultsDisplayed {
      border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
    }

    &::placeholder {
      color: var(--co-text-20)
    }
  }
  &__icon {
    width: 1.65em;
    position: absolute;
    z-index: c.$index-20;
    transform: translateY(-50%);
    top: 50%;
    left: 1.5em;
  }
  &__btn {
    padding: var(--p-m);
    position: absolute;
    top: 50%;
    right: 1.5rem;
    z-index: c.$index-20;
    transform: translateY(-50%);
    transition: color 200ms;
    background-color: transparent;
  }
}
