.toggleBtn {
  $unit: .5em;
  $width: calc($unit * 2.1);
  width: $width;
  height: $unit;
  position: relative;
  border-radius: calc($unit / 2);
  font-size: 2.5rem;
  cursor: pointer;
  outline: 5px solid;
  outline-offset: -1px;
  background-color: currentColor;
  &__thumb {
    width: $unit;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 200ms transform;
    background-color: var(--co-gray-100);
  }
  &.on {
    color: var(--co-highlight);
    .toggleBtn__thumb {
      transform: translateX(calc($width - 100%));
    }
  }
  &.off {
    color: var(--co-gray-500);
    .toggleBtn__thumb {
      transform: translateX(0);
    }
  }
}