@use './config.scss';
@use './Header.scss';
@use './Poster.scss';
@use './SearchBar.scss';
@use './PageManager.scss';
@use './ToggleButton.scss';
@use './Results.scss';
@use './Result.scss';


.posterContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  gap: 3rem 1rem;
  min-height: 100vh;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 56rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.btnCta {
  width: 10rem;
  border-radius: 1rem / 50%;
  background-color: var(--co-secondary-20);

  @media (hover: hover) {
    &:hover {
      background-color: var(--co-secondary-30);
    }
  }
  &[disabled] {
    color: var(--co-white-30);
    cursor: default;
    &:hover {
      background-color: var(--co-secondary-20);
    }
  }
}