.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
  padding: 0 1rem;
  background-color: var(--co-terciary-40);
  user-select: none;
}
.header__logo {
  width: 3.6rem;
}
.header__btn {
  display: flex;
  gap: 1rem;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .poster:hover .poster__imgContainer {
    transform: scale(1.1);
  }
}
.poster__title {
  text-align: center;
}
.poster__imgContainer {
  position: relative;
  margin-bottom: 0.8rem;
  transition: 200ms transform;
}
.poster__shadow {
  width: 100%;
  height: 2em;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, hsl(0, 0%, 3%) 0%, hsl(0, 0%, 3%) 20%, rgba(0, 0, 0, 0) 100%);
}
.poster__img {
  width: 10rem;
  aspect-ratio: 2/3;
  border-radius: var(--rounded-sm);
}

.searchBar {
  position: relative;
}
.searchBar.resultsDisplayed {
  border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
  background-color: var(--co-secondary-20);
}
.searchBar__input {
  width: 100%;
  height: calc(var(--rounded-xl) * 2);
  padding: 0 4em;
  position: relative;
  z-index: 20;
  border-radius: var(--rounded-xl);
}
.searchBar__input.resultsDisplayed {
  border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
}
.searchBar__icon {
  width: 1.65em;
  position: absolute;
  z-index: 20;
  transform: translateY(-50%);
  top: 50%;
  left: 1.5em;
}
.searchBar__btn {
  padding: var(--p-m);
  position: absolute;
  top: 50%;
  right: 1.5rem;
  z-index: 20;
  transform: translateY(-50%);
  transition: color 200ms;
}
.searchBar__btn:hover {
  color: var(--co-secondary-10);
}

.pageManager {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.pageManager__container {
  display: flex;
  gap: 0.5em;
}
.pageManager__input {
  width: 2rem;
  text-align: center;
}

.toggleBtn {
  width: 1.05em;
  height: 0.5em;
  position: relative;
  border-radius: 0.25em;
  font-size: 2.5rem;
  cursor: pointer;
  outline: 5px solid;
  outline-offset: -1px;
  background-color: currentColor;
  transition: 200ms background-color;
}
.toggleBtn__thumb {
  width: 0.5em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: 200ms transform;
  background-color: var(--co-secondary-20);
}
.toggleBtn.on {
  color: var(--co-primary-10);
}
.toggleBtn.on .toggleBtn__thumb {
  transform: translateX(calc(1.05em - 100%));
}
.toggleBtn.off {
  color: var(--co-secondary-30);
}
.toggleBtn.off .toggleBtn__thumb {
  transform: translateX(0);
}

.results {
  width: 100%;
  position: absolute;
  border-radius: 0 0 var(--rounded-xl) var(--rounded-xl);
  z-index: 10;
  background-color: var(--co-secondary-20);
}

.result {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 0.5rem 2rem;
  transition: 200ms background-color;
}
.result:hover {
  background-color: var(--co-secondary-30);
  cursor: pointer;
}
.result.simple {
  padding: 0.8rem 2rem;
  cursor: default;
}
.result.simple:hover {
  background-color: initial;
}
.result__img {
  width: 2rem;
  aspect-ratio: 2/3;
}

.posterContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  gap: 3rem 1rem;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 56rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.btnCta {
  width: 10rem;
  border-radius: 1rem/50%;
  background-color: var(--co-secondary-20);
}
@media (hover: hover) {
  .btnCta:hover {
    background-color: var(--co-secondary-30);
  }
}
.btnCta[disabled] {
  color: var(--co-white-30);
  cursor: default;
}
.btnCta[disabled]:hover {
  background-color: var(--co-secondary-20);
}

/*# sourceMappingURL=App.css.map */
