:root {
  --rounded-sm: .4em;
  --rounded-xl: 1.3em;

  --co-black: hsl(0, 0%, 3%);
  --co-black-10: hsl(0, 0%, 16%);
  --co-black-20: hsl(0, 0%, 25%);
  --co-white: hsl(0, 0%, 90%);
  --co-white-10: hsl(0, 0%, 85%);
  --co-white-20: hsl(0, 0%, 76%);
  --co-white-30: hsl(0, 0%, 60%);
  --co-ligth-blue: hsl(199, 82%, 80%);

  --p-m: .6rem;
  --p-l: .8rem;
  --p-xl: 1rem;
}

:root[data-scheme="light"] {
  --co-primary-10: var(--co-black); 
  --co-primary-20: var(--co-black-20);
  --co-secondary-10: var(--co-white);
  --co-secondary-20: var(--co-white-10);
  --co-secondary-30: var(--co-white-20);
  --co-terciary-40: var(--co-ligth-blue);
}

:root[data-scheme="dark"] {
  --co-primary-10: var(--co-white); 
  --co-primary-20: var(--co-white-20);
  --co-secondary-10: var(--co-black);
  --co-secondary-20: var(--co-black-10);
  --co-secondary-30: var(--co-black-20);
  --co-terciary-40: var(--co-secondary-20);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width:100%;
  width: 100%;
  display:block;
}
a {
  display:block;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior:smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size:1em;
  font-weight:inherit;
  font-style: inherit;
  text-decoration: none;
  color:inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  font-weight: bold;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.35em;
}
h3, h4, h5, h6 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
::selection{
  background-color: var(--co-primary-10);
  color:var(--co-secondary-10);
}
form, input, textarea, select, button, label, fieldset, button {
  background-color: var(--co-secondary-30);
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  display: block;
  color: inherit;
}
label {
  background-color: inherit;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
*::placeholder {
  color: var(--co-primary-20);
}
button {
  padding: .4em 1.5em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 200ms background-color;
}
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height:100vh;
  font-size: 100%;
  font-family: Verdana, Tahoma, sans-serif;
  color: var(--co-primary-10);
  background-color: var(--co-secondary-10);
  line-height: 1.4em;
  font-smooth: always;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

#tsparticles {
  position: relative;
  z-index: -1;
}